*{font-family: sans-serif;

}
.tarjeta{
    width: 500px;
    padding: 0 010px;
    margin: 40px auto;
    border-radius: 15px ;
    box-shadow: 15px 20px 40px gray;

}

.tarjeta2{
    width: 500px;
    padding: 0 010px;
    margin: 40px auto;
    border-radius: 15px ;
    box-shadow: 15px 20px 40px gray;

}
img{
   width: 100%;
   border-radius: 30px 30px;
}
 img{
    width: 100%;
    border-radius: 30px 30px;
 }


